body {
   background-color: lightgrey;
   color: rgb(0, 0, 0);
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 h1 {
   background-color: black;
   color: rgb(255, 255, 255);
   text-align: center;
   text-transform: uppercase;
 }
 
 div {
   background-color: rgb(0, 0, 0);
   color: white;
   text-align: center;
 }
button {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   border-radius: 40px;
   text-align: center;
   letter-spacing: 3px;
   color: blue;
 }
 

